<div class="<%= card_classes %>">
  <% if header? %>
    <div class="<%= header_classes %>">
      <%= header %>
    </div>
  <% end %>
  
  <div class="<%= body_classes %>">
    <%= content %>
  </div>
  
  <% if footer? %>
    <div class="<%= footer_classes %>">
      <%= footer %>
    </div>
  <% end %>
</div>
