<div class="<%= container_classes %>">
  <% if label? %>
    <label class="<%= label_classes %>">
      <%= label %>
    </label>
  <% end %>
  
  <% if description? %>
    <p class="<%= description_classes %>">
      <%= description %>
    </p>
  <% end %>
  
  <%= content %>
  
  <% if error? %>
    <p class="<%= error_classes %>">
      <%= error %>
    </p>
  <% end %>
</div>
