<div class="p-8 space-y-4">
  <div class="flex flex-wrap gap-4">
    <%= render Base::ButtonComponent.new(variant: :primary) do %>
      Primary
    <% end %>
    
    <%= render Base::ButtonComponent.new(variant: :secondary) do %>
      Secondary
    <% end %>
    
    <%= render Base::ButtonComponent.new(variant: :outline) do %>
      Outline
    <% end %>
    
    <%= render Base::ButtonComponent.new(variant: :ghost) do %>
      Ghost
    <% end %>
    
    <%= render Base::ButtonComponent.new(variant: :danger) do %>
      Danger
    <% end %>
  </div>
</div>
