<div class="<%= wrapper_classes %>">
  <input
    type="checkbox"
    name="<%= @name %>"
    id="<%= checkbox_id %>"
    value="<%= @value %>"
    class="<%= checkbox_classes %>"
    <%= "checked" if @checked %>
    <%= "disabled" if @disabled %>
  />
  
  <div class="flex-1">
    <label for="<%= checkbox_id %>" class="<%= label_classes %>">
      <%= @label %>
    </label>
    
    <% if @hint %>
      <p class="<%= hint_classes %> mt-1">
        <%= @hint %>
      </p>
    <% end %>
  </div>
</div>
